Repository equinor/webviz-subsurface-components, pull requests merged in 2021-12, with the labels that each got.

#681 Horizontal and vertical layout options for color legends
  react/src/demo/example-data/deckgl-map-spec.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/ContinuousLegend.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/DiscreteLegend.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
Labels: enhancement, Emerson, map-component

#683 WellLogViewer: Content area selection, add/edit track dialog
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/Scroller.tsx
  react/src/lib/components/WellLogViewer/components/TrackDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewer - Ярлык.lnk
  react/src/lib/components/WellLogViewer/utils/color-table.ts
  react/src/lib/components/WellLogViewer/utils/log-viewer.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: Emerson, well-log-viewer

#686 3D view as prop instead of button, fixed Map storybook and redux store
  react/package-lock.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/redux/store.ts
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
Labels: bug, Emerson, map-component

#691 Added new depthMap.png
  react/src/demo/example-data/depthMap.png
Labels: Emerson

#692 Prepare release
  react/package-lock.json
  react/package.json
Labels: next release 🚢

#621 Performance testing demo
  .github/workflows/webviz-subsurface-components.yml
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/components/settings/DrawModeSelector_performance.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty_performance.test.tsx
  react/src/lib/performanceUtility/onRenderFunction.ts
Labels: Emerson, tests

#694 Used new icons for layers from @equinor/eds-icons@0.9.0
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/LayerSettingsButton.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/LayersButton.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/redux/types.ts
  react/src/lib/components/WellCompletions/components/Settings/__snapshots__/FilterButton.test.tsx.snap
  react/src/lib/components/WellCompletions/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
  react/src/lib/components/WellCompletions/components/Settings/__snapshots__/SortTable.test.tsx.snap
Labels: enhancement, Emerson, map-component

#690 Terrain layer
  react/package.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
  react/src/lib/components/DeckGLMap/redux/types.ts
Labels: enhancement, Emerson, map-component

#698 Fixed package lock issue for @equinor/eds-icons
  react/package-lock.json
Labels: bug, dependencies, Emerson, map-component

#695 Lint & typecheck
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson

#707 Link property "view3d" to " layers "is3d"
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/test/testReduxState.ts
Labels: enhancement, Emerson

#709 Contour lines
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
Labels: enhancement, Emerson, map-component

#708 Well log viewer: log scales and info groups
  react/src/demo/example-data/welllog_template_1.json
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.test.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/InfoTypes.ts
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/TrackDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogTemplateTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewer - Ярлык.lnk
  react/src/lib/components/WellLogViewer/components/__snapshots__/InfoPanel.test.tsx.snap
  react/src/lib/components/WellLogViewer/utils/axes.ts
  react/src/lib/components/WellLogViewer/utils/fill-info.ts
  react/src/lib/components/WellLogViewer/utils/gradientfill-plot-legend.ts
  react/src/lib/components/WellLogViewer/utils/gradientfill-plot.ts
  react/src/lib/components/WellLogViewer/utils/graph/factory.ts
  react/src/lib/components/WellLogViewer/utils/log-viewer.ts
  react/src/lib/components/WellLogViewer/utils/minmax.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: Emerson, well-log-viewer

#713 Fix that logs stayed in 2D when switching to 3D vire
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#711 Grouptree performance test
  react/src/lib/components/GroupTree/GroupTree.test.tsx
  react/src/lib/components/GroupTree/GroupTree_performance.test.tsx
  react/src/lib/components/GroupTree/__snapshots__/GroupTree.test.tsx.snap
  react/src/lib/components/GroupTree/components/GroupTreeComponent.test.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.test.tsx
  react/src/lib/components/GroupTree/components/__snapshots__/GroupTreeComponent.test.tsx.snap
  react/src/lib/components/GroupTree/components/__snapshots__/GroupTreeViewer.test.tsx.snap
  react/src/lib/components/GroupTree/test/testReduxState.ts
Labels: Emerson, group-tree

#710 Multi view
  react/src/demo/example-data/deckgl-map.json
  react/src/demo/example-data/welllayer_template.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/DeckGLView.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/settings/DrawModeSelector.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty_performance.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/LayersButton.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/redux/actions.ts
  react/src/lib/components/DeckGLMap/redux/reducer.ts
  react/src/lib/components/DeckGLMap/redux/store.ts
  react/src/lib/components/DeckGLMap/test/TestWrapper.tsx
  react/src/lib/components/DeckGLMap/test/testReduxState.ts
  react/src/lib/components/DeckGLMap/utils/specExtractor.ts
Labels: enhancement, Emerson, map-component
