Repository equinor/webviz-subsurface-components, pull requests merged in 2021-09, with the labels that each got.

#524 Group tree and well log viewer storybook
  react/.storybook/main.js
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/InfoCard.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/DrawModeSelector.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayerSettingsButton.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayersButton.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/Settings.stories.jsx
  react/src/lib/components/GroupTree/GroupTree.jsx
  react/src/lib/components/GroupTree/components/GroupTreeComponent.tsx
  react/src/lib/components/GroupTree/storybook/GroupTreeComponent.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/DateTimeSlider.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/FlowRateSelector.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/GroupTreeViewer.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/SettingsBar.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
Labels: Emerson, group-tree, well-log-viewer

#536 Escape `copyfiles` argument in order to work on Linux/Mac
  react/package.json
Labels: bug, next release 🚢

#540 Added building and deployment of storybook in github actions
  .github/workflows/webviz-subsurface-components.yml
Labels: maintenance, Emerson

#541 Copy storybook-static recursively
  .github/workflows/webviz-subsurface-components.yml
Labels: bug, Emerson

#537 Removed hardcoding of element id.
  react/src/lib/components/GroupTree/components/GroupTreeComponent.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
Labels: bug, Emerson, group-tree, next release 🚢

#539 Added missing addon-redux dependency.
  react/package.json
Labels: bug, Emerson, next release 🚢

#544 Removed whitespace between filename suffixes.
  react/package.json
Labels: bug, Emerson, next release 🚢

#543 Updated readme to add link for storybook
  README.md
Labels: maintenance, Emerson

#542 retiring components from demo app which has storybook
  react/src/demo/App.js
  react/src/demo/DeckGLMapDemo.js
  react/src/demo/GroupTreeDemo.js
  react/src/demo/WellCompletionsDemo.js
  react/src/demo/WellLogViewerDemo.jsx
Labels: maintenance, Emerson, map-component, well-completions, group-tree, well-log-viewer

#549 TVD readout for wells
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#546 Ensure *.scss files are copied into dist directory.
  react/package.json
Labels: bug, Emerson

#551 add color tag to wells properties in info card
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#558 New GroupTree format
  react/src/demo/example-data/group-tree-smaller.json
  react/src/demo/example-data/group-tree.json
  react/src/lib/components/GroupTree/GroupTree.jsx
  react/src/lib/components/GroupTree/components/DataLoader.tsx
  react/src/lib/components/GroupTree/components/GroupTreeComponent.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/GroupTree/components/Plot/dynamic_tree.css
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
  react/src/lib/components/GroupTree/components/Settings/DataSelector.tsx
  react/src/lib/components/GroupTree/components/Settings/DateTimeSlider.test.tsx
  react/src/lib/components/GroupTree/components/Settings/FlowRateSelector.test.tsx
  react/src/lib/components/GroupTree/components/Settings/FlowRateSelector.tsx
  react/src/lib/components/GroupTree/components/Settings/SettingsBar.test.tsx
  react/src/lib/components/GroupTree/components/Settings/SettingsBar.tsx
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/DateTimeSlider.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/FlowRateSelector.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
  react/src/lib/components/GroupTree/redux/actions.ts
  react/src/lib/components/GroupTree/redux/reducer.ts
  react/src/lib/components/GroupTree/redux/types.ts
  react/src/lib/components/GroupTree/storybook/GroupTreeComponent.stories.jsx
Labels: Emerson, group-tree

#560 Tooltip on nodes and fixed drop down menu entries.
  react/src/lib/components/GroupTree/components/Plot/dynamic_tree.css
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
  react/src/lib/components/GroupTree/components/Settings/FlowRateSelector.tsx
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/FlowRateSelector.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
Labels: Emerson, group-tree

#564 Fixed emty tree when changing data prop for GroupTreeComponent
  react/src/lib/components/GroupTree/components/DataLoader.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
  react/src/lib/components/GroupTree/components/Settings/DataSelector.tsx
  react/src/lib/components/GroupTree/components/Settings/SettingsBar.tsx
  react/src/lib/components/GroupTree/redux/actions.ts
  react/src/lib/components/GroupTree/redux/reducer.ts
  react/src/lib/components/GroupTree/redux/types.ts
Labels: bug, Emerson, group-tree

#566 Fix rates became zero.
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
Labels: bug, Emerson, group-tree

#519 Well log view: switch vertical and horizontal layout
  react/src/demo/example-data/welllog_template_1.json
  react/src/demo/example-data/welllog_template_2.json
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/AxisSelector.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/styles.scss
  react/src/lib/components/WellLogViewer/utils/log-viewer.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: Emerson, well-log-viewer

#567 Sensible default values for distance scale.
  examples/example_deckgl_map.py
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/DistanceScale.tsx
Labels: Emerson, map-component

#574 Make tree branches scale from 0 to max rate in all branches
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
Labels: bug, Emerson, group-tree

#572 Sensible default values for hill shading and wells layers.
  examples/example_deckgl_map.py
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#579 Set units on labels
  react/src/lib/components/GroupTree/components/Plot/dynamic_tree.css
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
Labels: Emerson, group-tree
