Repository equinor/webviz-subsurface-components, pull requests merged in 2021-06, with the labels that each got.

#370 Use a patch system for setting the deckgl spec
  examples/example_deckgl_map.py
  package-lock.json
  package.json
  src/demo/DeckGLMapDemo.js
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#363 Update to webpack 5
  .babelrc.json
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/demo/HistoryMatchDemo.js
  src/lib/components/LayeredMap/components/CanvasOverlay.react.js
  src/lib/components/LeafletMap/LeafletMap.jsx
  src/lib/components/LeafletMap/components/CompositeMapLayers.js
  src/lib/components/Map/utils/flow_map.js
  src/lib/components/Morris/utils/morris.js
  src/lib/components/VectorSelector/utils/VectorSelection.ts
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Plot/CompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellsPlot.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.tsx
  src/lib/components/WellCompletions/components/Settings/WellPagination.tsx
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  webpack.config.js
Labels: Emerson

#381 Minor maintenance
  .github/workflows/webviz-subsurface-components.yml
  .gitignore
  package-lock.json
  package.json
Labels: Emerson, map-component

#379 New piechart layer
  src/demo/example-data/deckgl-map.json
  src/demo/example-data/piechart.json
  src/lib/components/DeckGLMap/layers/index.ts
  src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
Labels: Emerson, map-component

#386 Update well completion drawer resize
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
Labels: Emerson, well-completions

#382 Update to the latest @equinor/eds-core-react
  package-lock.json
  package.json
  src/lib/components/WellCompletions/components/Settings/FilterByAttributesButton.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/HideZeroCompletionsSwitch.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/TimeAggregationSelector.test.tsx.snap
  webpack.config.js
Labels: maintenance

#385 Expose `pickable` for the PieChart layer
  src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
Labels: Emerson, map-component

#387 Fix a few minor bugs in the map component
  package-lock.json
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#390 Add UI settings to Map components
  package-lock.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/components/settings/DrawModeSelector.tsx
  src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.tsx
  src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
  src/lib/components/DeckGLMap/components/settings/Settings.tsx
  src/lib/components/DeckGLMap/redux/actions.ts
  src/lib/components/DeckGLMap/redux/middleware.ts
  src/lib/components/DeckGLMap/redux/reducer.ts
  src/lib/components/DeckGLMap/redux/store.ts
  src/lib/components/DeckGLMap/redux/types.ts
  src/lib/components/DeckGLMap/utils/specExtractor.ts
Labels: Emerson, map-component

#391 Basic version of Group Tree Visualization component
  src/demo/App.js
  src/demo/GroupTreeDemo.js
  src/demo/example-data/group-tree.json
  src/demo/example-data/group-tree.py
  src/lib/components/GroupTree/GroupTree.jsx
  src/lib/components/GroupTree/components/DataLoader.tsx
  src/lib/components/GroupTree/components/GroupTreeComponent.tsx
  src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  src/lib/components/GroupTree/components/Plot/dynamic_tree.css
  src/lib/components/GroupTree/components/Plot/group_tree.js
  src/lib/components/GroupTree/components/Settings/DateTimeSlider.tsx
  src/lib/components/GroupTree/components/Settings/FlowRateSelector.tsx
  src/lib/components/GroupTree/components/Settings/IterationSelector.tsx
  src/lib/components/GroupTree/components/Settings/SettingsBar.tsx
  src/lib/components/GroupTree/index.js
  src/lib/components/GroupTree/redux/actions.ts
  src/lib/components/GroupTree/redux/reducer.ts
  src/lib/components/GroupTree/redux/store.ts
  src/lib/components/GroupTree/redux/types.ts
  src/lib/index.js
Labels: Emerson, group-tree

#396 Drawing layer improvements
  src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  src/lib/components/DeckGLMap/redux/types.ts
Labels: Emerson, map-component

#394 Added measured depth to Volve well trajectory example data.
  src/demo/example-data/volve_wells.json
Labels: Emerson, map-component

#399 Corrected log data path
  src/demo/example-data/deckgl-map.json
Labels: bug

#400 Upload component screenshot for wiki
  doc/group_tree.PNG
  doc/well_completions.PNG
Labels: Emerson, group-tree, well-completions

#398 Adjusted stratigraphy height and added dropdown(s) for the time slider
  src/lib/components/WellCompletions/components/Plot/StratigraphyPlot.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/TimeRangeSelector.test.tsx.snap
Labels: Emerson, well-completions

#403 Added support to select logrun for log data
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, bug, map-component

#397 New fault polygon layer
  src/demo/example-data/deckgl-map.json
  src/demo/example-data/fault_polygons.geojson
  src/lib/components/DeckGLMap/layers/fault_polygons/faultPolygonsLayer.ts
  src/lib/components/DeckGLMap/layers/index.ts
  src/lib/components/DeckGLMap/redux/types.ts
Labels: Emerson, map-component

#404 Remove vertical guidelines after the deepest completions
  src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellsPlot.tsx
Labels: Emerson, well-completions

#401 Measured depth linear interpolation
  package.json
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#402 Added code documentations
  doc/well_completions_storybooks.PNG
  package-lock.json
  src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  src/lib/components/GroupTree/components/Plot/group_tree.js
  src/lib/components/WellCompletions/WellCompletions.jsx
  src/lib/components/WellCompletions/WellCompletions.stories.jsx
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Settings/FilterButton.stories.tsx
  src/lib/components/WellCompletions/components/Settings/FilterButton.test.tsx
  src/lib/components/WellCompletions/components/Settings/FilterButton.tsx
  src/lib/components/WellCompletions/components/Settings/FilterByAttributesButton.tsx
  src/lib/components/WellCompletions/components/Settings/FilterMenu.stories.tsx
  src/lib/components/WellCompletions/components/Settings/HideZeroCompletionsSwitch.stories.tsx
  src/lib/components/WellCompletions/components/Settings/HideZeroCompletionsSwitch.tsx
  src/lib/components/WellCompletions/components/Settings/SettingsBar.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SettingsBar.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.tsx
  src/lib/components/WellCompletions/components/Settings/TimeAggregationSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/TimeAggregationSelector.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ViewButton.stories.tsx
  src/lib/components/WellCompletions/components/Settings/ViewButton.test.tsx
  src/lib/components/WellCompletions/components/Settings/ViewButton.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/components/Settings/WellFilter.stories.tsx
  src/lib/components/WellCompletions/components/Settings/WellFilter.tsx
  src/lib/components/WellCompletions/components/Settings/WellPagination.stories.tsx
  src/lib/components/WellCompletions/components/Settings/WellPagination.tsx
  src/lib/components/WellCompletions/components/Settings/WellsPerPageSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/WellsPerPageSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ZoneSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/ZoneSelector.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/FilterButton.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/ViewButton.test.tsx.snap
  src/lib/components/WellCompletions/components/WellCompletionComponent.tsx
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
  src/lib/components/WellCompletions/utils/dataUtil.ts
Labels: Emerson, maintenance

#413 `VectorSelector` : Adjusted according to changes in `SmartNodeSelector`
  src/lib/components/VectorSelector/components/VectorSelectorComponent.tsx
Labels: CeeSol, enhancement

#389 Refactor map state management
  examples/example_deckgl_map.py
  setup.py
  src/lib/components/DeckGLMap/DeckGLMap.jsx
Labels: Emerson, map-component

#414 fault polygon address fix
  src/demo/example-data/deckgl-map.json
Labels: Emerson, map-component

#426 Refactor codebase
  .github/workflows/webviz-subsurface-components.yml
  react/src/demo/example-data/deckgl-map.json
Labels: Emerson, map-component
