Repository equinor/webviz-subsurface-components, pull requests merged in 2021-07, with the labels that each got.

#449 Fix postinstall on windows command prompt
  react/package.json
Labels: Emerson

#445 Add full state prop to the map component
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/Map.tsx
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/redux/middleware.ts
  react/src/lib/components/DeckGLMap/redux/store.ts
Labels: Emerson, map-component

#447 initial group tree component tests
  react/src/lib/components/GroupTree/components/Settings/DateTimeSlider.test.tsx
  react/src/lib/components/GroupTree/components/Settings/FlowRateSelector.test.tsx
  react/src/lib/components/GroupTree/components/Settings/IterationSelector.test.tsx
  react/src/lib/components/GroupTree/components/Settings/SettingsBar.test.tsx
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/DateTimeSlider.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/FlowRateSelector.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/IterationSelector.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
  react/src/lib/components/GroupTree/test/TestWrapper.tsx
  react/src/lib/components/GroupTree/test/testReduxState.ts
Labels: Emerson, group-tree

#451 codecov integration
  .github/workflows/webviz-subsurface-components.yml
  react/package.json
Labels: Emerson, maintenance

#452 Group tree format
  react/src/demo/example-data/group-tree.json
  react/src/demo/example-data/group-tree.py
  react/src/demo/example-data/grouptree_exampledata_drogon.json
  react/src/demo/example-data/grouptree_suggested_format_drogon.json
  react/src/lib/components/GroupTree/GroupTree.jsx
  react/src/lib/components/GroupTree/components/DataLoader.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
  react/src/lib/components/GroupTree/components/Settings/DateTimeSlider.test.tsx
  react/src/lib/components/GroupTree/components/Settings/DateTimeSlider.tsx
  react/src/lib/components/GroupTree/components/Settings/IterationSelector.test.tsx
  react/src/lib/components/GroupTree/components/Settings/IterationSelector.tsx
  react/src/lib/components/GroupTree/components/Settings/SettingsBar.tsx
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/DateTimeSlider.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/IterationSelector.test.tsx.snap
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/SettingsBar.test.tsx.snap
  react/src/lib/components/GroupTree/redux/actions.ts
  react/src/lib/components/GroupTree/redux/reducer.ts
  react/src/lib/components/GroupTree/redux/types.ts
Labels: Emerson

#446 Fix dependabot alert and coord box visibility param
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
Labels: Emerson, maintenance, map-component

#461 Update python example to use the new map props
  examples/example_deckgl_map.py
  react/src/lib/components/DeckGLMap/Map.tsx
Labels: Emerson, map-component

#464 Catmull 3D spline interpolation
  react/src/demo/example-data/volve_wells.json
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#468 Spline:
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#471 Bug fix: md array is a 2D array and must be accessed as such
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
Labels: Emerson, map-component

#470 Add demo examples to eslint ignore
  react/.eslintignore
Labels: Emerson, maintenance

#473 Fixed log curves after well spline changes
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, bug, map-component

#476 Refactoring.
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#477 Update property value on info card if property already exists instead of adding as a new prop
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, bug, map-component
