Repository equinor/webviz-subsurface-components, pull requests merged in 2021-03, with the labels that each got.

#307 Update deckgl from 8.3.12 to 8.4.9
  package-lock.json
  package.json
  src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.js
Labels: Emerson, map-component

#308 Set proper bounds for the deckgl map
  examples/example_deckgl_map.py
  src/demo/example-data/deckgl-map.json
Labels: Emerson, map-component

#313 Added layer for displaying wells as GeoJson
  src/demo/example-data/deckgl-map.json
  src/demo/example-data/volve_wells.json
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/layers/index.ts
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.js
Labels: Emerson, map-component

#322 Cleanup deckgl example
  examples/well-completions-csv2json.py
  src/demo/example-data/deckgl-map.json
Labels: Emerson, bug, map-component

#326 Display the property map value on hover
  package-lock.json
  package.json
  src/demo/DeckGLMapDemo.js
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/components/Coords.tsx
  src/lib/components/DeckGLMap/layers/colormap/colormap.fs.glsl
  src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2d.fs.glsl
  src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  src/lib/components/DeckGLMap/layers/shader_modules/decoder.ts
  src/lib/components/DeckGLMap/layers/types/valueDecoder.d.ts
  src/lib/components/DeckGLMap/layers/utils/glsl.d.ts
  src/lib/components/DeckGLMap/layers/utils/propertyMapTools.ts
Labels: Emerson, map-component

#311 Second version of well completions
  package-lock.json
  package.json
  src/demo/WellCompletionsDemo.js
  src/demo/example-data/well-completions-330wells-70zones.json
  src/demo/example-data/well-completions-99wells-28zones-900ts.json
  src/demo/example-data/well-completions-simple.json
  src/demo/example-data/well-completions-with-attr.json
  src/lib/components/WellCompletions/WellCompletions.jsx
  src/lib/components/WellCompletions/components/Common/TooltipProvider.tsx
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Plot/CompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/D3WellCompletions.ts
  src/lib/components/WellCompletions/components/Plot/StratigraphyPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/dataUtil.ts
  src/lib/components/WellCompletions/components/Settings/FilterMenu.tsx
  src/lib/components/WellCompletions/components/Settings/RangeDisplayModeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/SettingsBar.tsx
  src/lib/components/WellCompletions/components/Settings/SortMenu.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ViewMenu.tsx
  src/lib/components/WellCompletions/components/Settings/WellFilter.tsx
  src/lib/components/WellCompletions/components/Settings/WellPagination.tsx
  src/lib/components/WellCompletions/components/Settings/WellsPerPageSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ZoneSelector.tsx
  src/lib/components/WellCompletions/components/WellCompletionComponent.tsx
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  src/lib/components/WellCompletions/redux/reducer.ts
  src/lib/components/WellCompletions/redux/store.ts
  src/lib/components/WellCompletions/redux/types.ts
  src/lib/components/WellCompletions/utils/dataUtil.test.ts
  src/lib/components/WellCompletions/utils/dataUtil.ts
  src/lib/components/WellCompletions/utils/sort.ts
  src/lib/components/WellCompletions/utils/stringUtil.test.ts
  src/lib/components/WellCompletions/utils/stringUtil.ts
Labels: Emerson, well-completions

#331 Update to React 17
  package-lock.json
  package.json
  src/demo/DeckGLMapDemo.js
  src/lib/components/WellCompletions/components/Settings/HideZeroCompletionsSwitch.tsx
Labels: Emerson, dependencies
