Repository equinor/webviz-subsurface-components, pull requests merged in 2021-10, with the labels that each got.

#583 Added missing property argument.
  react/src/lib/components/GroupTree/storybook/GroupTreeComponent.stories.jsx
Labels: bug, Emerson, group-tree

#585 Scrambled tree fix
  react/src/lib/components/GroupTree/components/Plot/group_tree.js
Labels: bug, Emerson, group-tree

#588 Store selected well by name instead of GeoJson feature
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#569 Redesign toolbox. Closes #423
  react/src/demo/example-data/deckgl-map-spec.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/settings/DrawModeSelector.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/DrawModeSelector.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/NumericInput.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/components/settings/SliderInput.tsx
  react/src/lib/components/DeckGLMap/components/settings/ToggleButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/DrawModeSelector.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  react/src/lib/components/DeckGLMap/layers/fault_polygons/faultPolygonsLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/redux/actions.ts
  react/src/lib/components/DeckGLMap/redux/reducer.ts
  react/src/lib/components/DeckGLMap/redux/types.ts
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayerSettingsButton.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/NumericInput.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/ToggleButton.stories.jsx
  react/src/lib/components/DeckGLMap/utils/specExtractor.ts
Labels: enhancement, Emerson, map-component

#589 Grouptree tests
  react/src/lib/components/GroupTree/components/Settings/NodeInfoSelector.test.tsx
  react/src/lib/components/GroupTree/components/Settings/__snapshots__/NodeInfoSelector.test.tsx.snap
Labels: Emerson, group-tree
