Repository equinor/webviz-subsurface-components, pull requests merged in 2021-04, with the labels that each got.

#330 Fix deckgl python example
  examples/example_deckgl_map.py
Labels: Emerson, bug, map-component

#334 Fix the bandit command in the CI script
  .github/workflows/webviz-subsurface-components.yml
  examples/example_prior_posterior.py
  examples/well-completions-csv2json.py
Labels: Emerson, bug

#328 Port wells layer to typescript.
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.js
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#335 Update cssnano to get rid of is-svg
  package-lock.json
  package.json
Labels: Emerson, dependencies

#338 Cleanup warnings
  package-lock.json
  package.json
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  src/lib/components/WellCompletions/components/Settings/__snapshots__/HideZeroCompletionsSwitch.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/RangeDisplayModeSelector.test.tsx.snap
  src/lib/components/WellCompletions/utils/dataUtil.ts
Labels: Emerson, dependencies, maintenance

#345 Add kH display, open/close status and some other small fixes
  inputSchema/wellCompletions.json
  package-lock.json
  package.json
  src/demo/WellCompletionsDemo.js
  src/demo/example-data/well-completions-330wells-70zones.json
  src/demo/example-data/well-completions-99wells-28zones-900ts.json
  src/demo/example-data/well-completions-csv2json.py
  src/demo/example-data/well-completions-kh.json
  src/demo/example-data/well-completions-simple.json
  src/demo/example-data/well-completions-test.json
  src/demo/example-data/well-completions-with-attr.json
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Plot/CompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/D3WellCompletions.ts
  src/lib/components/WellCompletions/components/Plot/StratigraphyPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellsPlot.tsx
  src/lib/components/WellCompletions/components/Settings/FilterByAttributesButton.stories.tsx
  src/lib/components/WellCompletions/components/Settings/FilterByAttributesButton.tsx
  src/lib/components/WellCompletions/components/Settings/FilterMenu.tsx
  src/lib/components/WellCompletions/components/Settings/RangeDisplayModeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/SettingsBar.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SortButton.tsx
  src/lib/components/WellCompletions/components/Settings/SortMenu.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.stories.tsx
  src/lib/components/WellCompletions/components/Settings/SortTable.tsx
  src/lib/components/WellCompletions/components/Settings/ViewMenu.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/components/Settings/WellsPerPageSelector.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/HideZeroCompletionsSwitch.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/RangeDisplayModeSelector.test.tsx.snap
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  src/lib/components/WellCompletions/redux/actions.test.ts
  src/lib/components/WellCompletions/redux/actions.ts
  src/lib/components/WellCompletions/redux/reducer.test.ts
  src/lib/components/WellCompletions/redux/reducer.ts
  src/lib/components/WellCompletions/redux/types.ts
  src/lib/components/WellCompletions/test/storybookDataDecorator.tsx
  src/lib/components/WellCompletions/test/testReduxState.ts
  src/lib/components/WellCompletions/utils/dataUtil.test.ts
  src/lib/components/WellCompletions/utils/dataUtil.ts
  src/lib/components/WellCompletions/utils/sort.ts
Labels: Emerson, well-completions

#348 Update deckgl
  package-lock.json
  package.json
  src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  src/lib/components/WellCompletions/components/Settings/__snapshots__/HideZeroCompletionsSwitch.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/RangeDisplayModeSelector.test.tsx.snap
Labels: Emerson, map-component

#349 Improve react snapshot testing using jest-styled-components
  package-lock.json
  package.json
  src/lib/components/WellCompletions/components/Settings/HideZeroCompletionsSwitch.test.tsx
  src/lib/components/WellCompletions/components/Settings/RangeDisplayModeSelector.test.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/HideZeroCompletionsSwitch.test.tsx.snap
  src/lib/components/WellCompletions/components/Settings/__snapshots__/RangeDisplayModeSelector.test.tsx.snap
  src/lib/components/WellCompletions/test/TestWrapper.tsx
Labels: Emerson, well-completions

#346 Add a drawing layer and setProps to the map component
  examples/example_deckgl_map.py
  package-lock.json
  package.json
  src/demo/DeckGLMapDemo.js
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/configuration.ts
  src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  src/lib/components/DeckGLMap/layers/index.ts
Labels: Emerson, map-component

#350 Add kh unit to tooltip display
  inputSchema/wellCompletions.json
  src/demo/WellCompletionsDemo.js
  src/demo/example-data/well-completions-test.json
  src/demo/example-data/well-completions.json
  src/lib/components/WellCompletions/WellCompletions.jsx
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Plot/CompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ZoneSelector.tsx
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  src/lib/components/WellCompletions/redux/types.ts
  src/lib/components/WellCompletions/test/storybookDataDecorator.tsx
Labels: Emerson, well-completions

#354 Add `resources` prop to the map component
  examples/example_deckgl_map.py
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
Labels: Emerson, map-component

#351 Display the property values from multiple overlapping layers
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/DeckGLMap.jsx
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/components/Coords.tsx
Labels: Emerson, map-component

#357 Host deckgl example image on GitHub
  src/demo/example-data/deckgl-map.json
  src/demo/example-data/propertyMap.png
Labels: Emerson, bug, map-component
