Repository equinor/webviz-subsurface-components, pull requests merged in 2021-05, with the labels that each got.

#360 Highlight and select wells
  examples/example_deckgl_map.py
  src/demo/example-data/deckgl-map.json
  src/lib/components/DeckGLMap/Map.tsx
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#359 Range mode improvement and add space in between value and unit
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Plot/CompletionsPlot.tsx
  src/lib/components/WellCompletions/components/Settings/RangeDisplayModeSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/TimeAggregationSelector.stories.tsx
  src/lib/components/WellCompletions/components/Settings/TimeAggregationSelector.test.tsx
  src/lib/components/WellCompletions/components/Settings/TimeAggregationSelector.tsx
  src/lib/components/WellCompletions/components/Settings/TimeRangeSelector.tsx
  src/lib/components/WellCompletions/components/Settings/ViewMenu.tsx
  src/lib/components/WellCompletions/components/Settings/__snapshots__/TimeAggregationSelector.test.tsx.snap
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  src/lib/components/WellCompletions/redux/actions.test.ts
  src/lib/components/WellCompletions/redux/actions.ts
  src/lib/components/WellCompletions/redux/reducer.test.ts
  src/lib/components/WellCompletions/redux/reducer.ts
  src/lib/components/WellCompletions/redux/types.ts
  src/lib/components/WellCompletions/test/testReduxState.ts
  src/lib/components/WellCompletions/utils/dataUtil.test.ts
  src/lib/components/WellCompletions/utils/dataUtil.ts
Labels: Emerson, well-completions

#364 Fix console erros in the wells layer
  src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, bug, map-component

#367 Change attribute filter to use union logic at the leave nodes
  src/lib/components/WellCompletions/components/Common/ErrorPlaceholder.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/utils/dataUtil.ts
Labels: Emerson, well-completions

#369 Fix a pagination bug in well completion component
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
Labels: Emerson, well-completions

#373 Updated wells example to use GeometryCollection GeoJson feature.
  src/demo/example-data/volve_wells.json
Labels: Emerson, map-component

#368 Stratigraphic levels and tree-filtering functionality in WellCompletion component
  inputSchema/wellCompletions.json
  package-lock.json
  package.json
  src/demo/example-data/well-completions.json
  src/lib/components/WellCompletions/components/DataLoader.tsx
  src/lib/components/WellCompletions/components/Settings/FilterMenu.tsx
  src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.tsx
  src/lib/components/WellCompletions/components/Settings/WellFilter.tsx
  src/lib/components/WellCompletions/components/Settings/ZoneSelector.tsx
  src/lib/components/WellCompletions/components/WellCompletionsViewer.tsx
  src/lib/components/WellCompletions/hooks/usePlotData.tsx
  src/lib/components/WellCompletions/redux/actions.test.ts
  src/lib/components/WellCompletions/redux/actions.ts
  src/lib/components/WellCompletions/redux/reducer.test.ts
  src/lib/components/WellCompletions/redux/reducer.ts
  src/lib/components/WellCompletions/redux/types.ts
  src/lib/components/WellCompletions/test/storybookDataDecorator.tsx
  src/lib/components/WellCompletions/test/testReduxState.ts
  src/lib/components/WellCompletions/utils/dataUtil.test.ts
  src/lib/components/WellCompletions/utils/dataUtil.ts
Labels: Emerson, well-completions
