Repository equinor/webviz-subsurface-components, pull requests merged in 2021-11, with the labels that each got.

#627 Fixed GLSL loading when used in react-app-rewired
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/shader_modules/decoder.ts
Labels: Emerson, map-component

#634 Grid rotate
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
Labels: Emerson, map-component

#635 Well Log Viewer: 'gradientfill' plot
  react/src/demo/example-data/L898MUD.json
  react/src/demo/example-data/color-tables.json
  react/src/demo/example-data/welllog_template_1.json
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/ColorTableTypes.ts
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/InfoTypes.ts
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/Scroller.tsx
  react/src/lib/components/WellLogViewer/components/WellLogTemplateTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/utils/color-table.ts
  react/src/lib/components/WellLogViewer/utils/gradientfill-plot-legend.ts
  react/src/lib/components/WellLogViewer/utils/gradientfill-plot.ts
  react/src/lib/components/WellLogViewer/utils/legend/common.ts
  react/src/lib/components/WellLogViewer/utils/log-viewer.ts
  react/src/lib/components/WellLogViewer/utils/minmax.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: Emerson, well-log-viewer

#648 Added 3D switch button.
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: Emerson, map-component

#646 Moved legend logic from DeckGlWrapper to welllayer
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#651 Storybook for discrete color legend
  react/src/lib/components/DeckGLMap/components/ContinuousLegend.tsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
Labels: Emerson, map-component

#654 Removed unwanted storybook code
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson

#652 Fixed editing of features in drawing layer
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
Labels: Emerson, map-component

#659 Fixed broken tests and storybook
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/LayerProperty.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/LayerSettingsButton.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  react/src/lib/components/DeckGLMap/layers/fault_polygons/faultPolygonsLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/components/settings/DrawModeSelector.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayerSettingsButton.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayersButton.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/Settings.stories.jsx
  react/src/lib/components/DeckGLMap/test/testReduxState.ts
Labels: maintenance, Emerson, map-component

#658 Reversed order of layer toggles
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
Labels: Emerson, map-component

#662 Fix display of wells without logs
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.tsx
  react/src/lib/components/DeckGLMap/redux/types.ts
Labels: maintenance, Emerson, map-component

#653 Well log viewer tests
  react/src/lib/components/WellLogViewer/components/AxisSelector.test.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.test.tsx
  react/src/lib/components/WellLogViewer/components/Scroller.test.tsx
  react/src/lib/components/WellLogViewer/components/__snapshots__/AxisSelector.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/__snapshots__/InfoPanel.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/__snapshots__/Scroller.test.tsx.snap
Labels: Emerson, well-log-viewer, tests

#626 Implemented new `SmartNodeSelector` features in `VectorSelector` and fixed bugs
  react/package-lock.json
  react/package.json
  react/src/lib/components/VectorCalculator/utils/ExpressionParser.ts
  react/src/lib/components/VectorCalculator/utils/VectorCalculatorHelperFunctions.ts
  react/src/lib/components/VectorSelector/VectorSelector.jsx
  react/src/lib/components/VectorSelector/components/VectorSelectorComponent.tsx
  react/src/lib/components/VectorSelector/utils/VectorSelection.ts
  react/src/lib/components/WellCompletions/components/Settings/WellAttributesSelector.test.tsx
  react/src/lib/components/WellCompletions/components/Settings/__snapshots__/WellAttributesSelector.test.tsx.snap
Labels: next release 🚢

#673 Storybook example to additional deckgl layer
  react/package-lock.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
Labels: Emerson, map-component

#672 Round to significant value in `InfoCard`
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
Labels: map-component

#674 Renamed deckglmap storybook example
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#679 Fix storybook for grouptree
  react/src/lib/components/GroupTree/components/DataLoader.tsx
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/GroupTree/storybook/components/FlowRateSelector.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/GroupTreeViewer.stories.jsx
  react/src/lib/components/GroupTree/storybook/components/SettingsBar.stories.jsx
Labels: bug, Emerson, group-tree

#676 Fixed docstring for "layers".
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
Labels: bug, Emerson, map-component
