Repository equinor/webviz-subsurface-components, pull requests merged in 2022-02, with the labels that each got.

#753 Wellcompletions test
  react/src/lib/components/WellCompletions/components/WellCompletionComponent.test.tsx
  react/src/lib/components/WellCompletions/components/WellCompletionComponent_performance.test.tsx
  react/src/lib/components/WellCompletions/components/WellCompletionsViewer.test.tsx
  react/src/lib/components/WellCompletions/components/__snapshots__/WellCompletionComponent.test.tsx.snap
  react/src/lib/components/WellCompletions/components/__snapshots__/WellCompletionsViewer.test.tsx.snap
Labels: Emerson

#789 Fixed broken pylint checks
  examples/example_deckgl_map.py
  tests/test_morris.py
  webviz_subsurface_components/py_expression_eval.py
Labels: maintenance, Emerson

#788 Fixed crash when trajectory contains only one point
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#802 Props for well log track title and legend visibility
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.tsx
Labels: enhancement, Emerson, well-log-viewer

#783 Convert DeckGLMap component to typescript
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/DistanceScale.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
  react/src/lib/components/WellCompletions/components/__snapshots__/WellCompletionComponent.test.tsx.snap
  react/src/lib/components/WellCompletions/components/__snapshots__/WellCompletionsViewer.test.tsx.snap
Labels: maintenance, Emerson, map-component

#800 Labels for views
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/ViewFooter.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#808 docs: Storybook props documentation for DeckGLMap
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: maintenance, Emerson, map-component

#810 Bumped color tables version.
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson

#809 Added a minimal map example.
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#807 Bumped reduxjs dependency
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson

#815 Fix: Property 3D map disappears when zooming in #754
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#816 Bumped storybook version.
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson

#817 Improved UX for edited data prop
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#822 Use normalized data for both mesh and texture.
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
Labels: bug, Emerson, map-component

#823 Add missing props to `VectorSelector`
  react/src/demo/VectorSelectorDemo.js
  react/src/lib/components/VectorSelector/VectorSelector.jsx
Labels: bug

#818 Replace `eds` Tooltip with `Material-ui` Tooltip
  react/package-lock.json
  react/src/lib/components/VectorCalculator/components/ExpressionsTable.tsx
Labels: bug, CeeSol

#824 Discrete WellLogs: Use videx-wellog StackedTrack
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/welllog_template_2.json
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/InfoTypes.ts
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/TrackDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogTemplateTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/utils/edit-track.tsx
  react/src/lib/components/WellLogViewer/utils/fill-info.ts
  react/src/lib/components/WellLogViewer/utils/stack/stack-legend.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: enhancement, Emerson, well-log-viewer

#828 Map3 d load fix
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
Labels: bug, Emerson, map-component

#837 WellLog Template JSON Schema Validation
  react/src/demo/example-data/welllog_template_1.json
  react/src/lib/components/WellLogViewer/components/WellLogTemplateTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/styles.scss
  react/src/lib/inputSchema/WellLogTemplate.json
Labels: enhancement, Emerson, well-log-viewer

#839 Float resolution update
  react/package.json
  react/src/demo/example-data/volve_property_ieee_float.png
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/PrivateMeshLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/map.fs.glsl
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#840 Disable loading of terrain png using worker thread
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
Labels: Emerson, map-component

#832 Moved addon-redux to devDependencies and resolved dependency on storybook
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/redux/store.ts
  react/src/lib/components/GroupTree/redux/store.ts
  react/src/lib/components/WellCompletions/redux/store.ts
Labels: bug, dependencies, Emerson

#845 fix(wells-layer): Fixed crash for wells readout if md is not present
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#844 Corrected proptype check for bounds
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
Labels: bug, Emerson, map-component

#841 Fix for inverted behaviour of legend horizontal prop
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
Labels: bug, Emerson, map-component

#847 Read TVD from wellhead if trajectory is not present
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#849 Updated to match Map3D RGB layer.
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/PrivateMeshLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/map.fs.glsl
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#846 Issue Allow empty depth mesh or property texture
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#819 Further minimizing kh example map
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#851 Added new texture and depth png.
  react/src/demo/example-data/deckgl-map.json
  react/src/demo/example-data/hugin_depth_25_m_normalized_margin.png
  react/src/demo/example-data/kh_netmap_25_m_normalized_margin.png
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
Labels: Emerson, map-component

#856 Use webpack conditional loader for resolving addon-redux dependency
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/redux/store.ts
  react/src/lib/components/GroupTree/redux/store.ts
  react/src/lib/components/WellCompletions/redux/store.ts
  react/webpack.config.js
Labels: bug, Emerson, map-component

#857 Fixed unnecessary tvd readout for well logs
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component
