Repository equinor/webviz-subsurface-components, pull requests merged in 2022-11, with the labels that each got.

#1265 Grid3d vtkdata
  react/src/demo/example-data/vtk-grid/intersection_points.json
  react/src/demo/example-data/vtk-grid/intersection_polys.json
  react/src/demo/example-data/vtk-grid/points.json
  react/src/demo/example-data/vtk-grid/polys.json
  react/src/demo/example-data/vtk-grid/scalar.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.tsx
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: Emerson, map-component

#1278 cameraPosition may be an empty object so I need to check for that.
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#1277 Will fix #1271: Changing "colorMapFunction" property in MapLayer from…
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
Labels: bug, Emerson, map-component

#1280 In progress
  react/src/demo/example-data/vtk-grid/intersection_scalar.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/fragment.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/fragment_lines.glsl.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/privateLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/vertex_lines.glsl.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/webworker.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
Labels: bug, Emerson, map-component

#1269 add a reset option to reset the multiple selected wells
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
Labels: enhancement, Emerson

#1285 Pie fix
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
Labels: bug, Emerson, map-component

#1298 Changed very ineffective algorithm to construct grid.
  react/src/lib/components/DeckGLMap/layers/grid3d/webworker.ts
Labels: enhancement, Emerson, map-component

#1293 Fixes: Phong shading for map layer #1290
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/fragment.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
Labels: enhancement, Emerson, map-component

#1279 Create a view title for WellLogView component
  react/package.json
  react/src/lib/components/WellLogViewer/Intro.stories.mdx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/__snapshots__/MapAndWellLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/__snapshots__/SyncLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/__snapshots__/WellLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/WellLogSpacer.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/__snapshots__/WellLogView.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/__snapshots__/WellLogViewWithScroller.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/styles.scss
Labels: enhancement, Emerson, well-log-viewer

#1301 Fixes: Map layer does not work without meshUrl #1291
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
Labels: bug, Emerson, map-component

#1309 Fix border cells missing.
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
Labels: bug, Emerson, map-component

#1315 Fixes 1305: Grid3DLayer should use value range as default colorMapRan…
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.ts
Labels: bug, AspenTech, map-component

#1316 Fixes: MapLayer without mesh url should be able to show contours on p…
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, AspenTech, map-component

#1313 Make the test for 3d or 2d robust.
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, AspenTech, map-component

#1317 WellPick fill color and pattern
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer_performance.test.tsx
  react/src/lib/components/WellLogViewer/__snapshots__/MapAndWellLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/WellLogSpacer.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.test.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.test.tsx
  react/src/lib/components/WellLogViewer/components/styles.scss
  react/src/lib/components/WellLogViewer/utils/deepcopy.ts
  react/src/lib/components/WellLogViewer/utils/pattern.tsx
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: AspenTech, well-log-viewer

#1311 Update workflow to remove `node 12` deprecation warnings in CI
  .github/workflows/webviz-subsurface-components.yml
Labels: maintenance

#1323 Fix python tests
  tests/test_deckgl_map.py
  tests/test_example_deckgl_3dgrid.py
  tests/test_example_deckgl_map.py
  tests/test_example_deckgl_map_and_wells.py
  tests/test_example_deckgl_selectable_colored_feature.py
Labels: maintenance

#1329 Fixes issue 1138: [NGRM] - Map View Axes - in 2D, the axes should be …
  react/src/lib/components/DeckGLMap/layers/axes2d/axes-fragment.glsl.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/axes2DLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes2d/axes2DLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/grid-vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
Labels: enhancement, AspenTech, map-component

#1330 Fixed typing conforming with DeckGL layers.
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, AspenTech, map-component
