Repository equinor/webviz-subsurface-components, pull requests merged in 2022-12, with the labels that each got.

#1339 Multi view annotation
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.test.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/ViewFooter.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: AspenTech, map-component

#1333 add a callback function to display the selected wells
  react/src/lib/components/DeckGLMap/layers/BoxSelectionLayer/boxSelectionLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/BoxSelectionLayer/boxSelectionLayer.tsx
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
Labels: enhancement, AspenTech, map-component

#1343 Optionally render 3D objects flat in ortographic view #1327
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/fault_polygons/faultPolygonsLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid3d/privateLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, AspenTech, map-component

#1355 Grid3DLayer was missing the depthTest property.
  react/src/lib/components/DeckGLMap/layers/grid3d/grid3dLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
Labels: bug, AspenTech, map-component

#1354 Remove redux from DeckGLMap
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: maintenance, AspenTech, map-component

#1356 Artifacts when zooming in on grid/map layer #1318
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
Labels: bug, AspenTech, map-component

#1359 [NGRM] - View settings unexpected changes #1342
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, AspenTech, map-component

#1360 Fixes impossible to rotate grid after going from 2d to wd in axes2d s…
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/axes2d/axes2DLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
Labels: bug, AspenTech, map-component

#1361 Pie charts temporarily jump in visual size when zooming #1328
  react/src/lib/components/DeckGLMap/layers/piechart/fragment.glsl.js
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/piechart/vertex.glsl.js
Labels: bug, AspenTech, map-component

#1362 Fixed small bug
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
Labels: bug, AspenTech, map-component
