Repository equinor/webviz-subsurface-components, pull requests merged in 2022-04, with the labels that each got.

#908 Fixed issue: Unexpected cutoff opacity behavior
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#917 onMouseEvent callback for DeckGL Map component
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: enhancement, Emerson, map-component

#919 Create schemas for input data for Map component
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/inputSchema/WellLog.json
  react/src/lib/inputSchema/WellLogs.json
  react/src/lib/inputSchema/validator.tsx
Labels: enhancement, Emerson, map-component

#930 Grids schema validation
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/DeckGLMapSchema.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/sampleData.js
  react/src/lib/inputSchema/Grid.json
  react/src/lib/inputSchema/schemaValidationUtil.tsx
  react/src/lib/inputSchema/validator.tsx
Labels: enhancement, Emerson, map-component

#932 Fix of wrong tickmark sometimes.
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
Labels: bug, Emerson, map-component

#931 Colortable schema
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/DeckGLMapSchema.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/sampleData.js
  react/src/lib/inputSchema/ColorTables.json
  react/src/lib/inputSchema/schemaValidationUtil.tsx
  react/src/lib/inputSchema/validator.tsx
Labels: enhancement, Emerson, map-component

#933 Wells schema bug
  react/src/lib/inputSchema/Wells.json
Labels: bug, Emerson, map-component

#934 FaultPolygons validation
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/DeckGLMapSchema.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/schemaValidation/sampleData.js
  react/src/lib/inputSchema/FaultPolygons.json
  react/src/lib/inputSchema/schemaValidationUtil.tsx
  react/src/lib/inputSchema/validator.tsx
Labels: enhancement, Emerson, map-component

#928 Custom line style for well trajectories.
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/redux/store.ts
Labels: enhancement, Emerson, map-component

#936 Transparent well log where data is not defined
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#940 Removed commented-out line.
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: bug, Emerson

#943 In orthographic mode the calculations are a bit different.
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
Labels: bug, Emerson

#935 Well name at top and bottom of trajectory
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/redux/types.ts
Labels: enhancement, Emerson, map-component

#951 Optional property to specify a colormap function that will override t…
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component
