Repository equinor/webviz-subsurface-components, pull requests merged in 2022-07, with the labels that each got.

#1095 Changed bounds specification and defalt rotation point (origo = minx,…
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#1102 Added label color option to axis layer
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
Labels: bug, Emerson, map-component

#1112 Added dark mode story for distance scale
  react/src/lib/components/DeckGLMap/components/DistanceScale.stories.tsx
  react/src/lib/components/DeckGLMap/components/DistanceScale.test.tsx
  react/src/lib/components/DeckGLMap/components/DistanceScale.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/DistanceScale.test.tsx.snap
Labels: bug, Emerson, map-component

#1103 Export PickInfo and TooltipCallback types.
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/index.js
Labels: bug, Emerson, map-component

#1111 Added colorsetting to north arrow and box layer.
  react/src/lib/components/DeckGLMap/layers/axes/axes-fragment.glsl.ts
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow.stories.tsx
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northarrow-fragment.glsl.js
  react/src/lib/components/DeckGLMap/layers/northarrow/northarrow-vertex.glsl.js
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#1117 Added tooltip styling story.
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/index.js
Labels: enhancement, Emerson, map-component

#1121 Changed picking types used in tooltip story.
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
Labels: bug, Emerson, map-component

#721 Fix leaflet python example and add test
  examples/example_leaflet_map.py
  tests/test_leaflet_map.py
Labels: bug

#1124 Use sparse interval curve in Discrete well log story
  react/src/demo/example-data/volve_blocking_zonelog_logs.json
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
Labels: enhancement, Emerson, map-component

#1130 Fix intersection view for updated deckgl package
  react/src/lib/components/DeckGLMap/viewports/index.js
  react/src/lib/components/DeckGLMap/viewports/intersectionViewport.ts
  react/src/lib/components/DeckGLMap/views/index.js
  react/src/lib/components/DeckGLMap/views/intersection/intersectionView.js
  react/src/lib/components/DeckGLMap/views/intersectionView.ts
Labels: maintenance, Emerson, intersection

#1132 All triangles
  react/src/demo/example-data/kh_netmap_25_m.float32
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/fragment_lines.glsl.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/map/delatin/index.ts
  react/src/lib/components/DeckGLMap/layers/map/fragment.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/fragment_lines.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/terrainmap.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/vertex_lines.glsl.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.stories.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#1134 Export MapLayerProps types to main interface
  react/src/lib/index.js
Labels: maintenance, Emerson, map-component
