Repository equinor/webviz-subsurface-components, pull requests merged in 2022-10, with the labels that each got.

#1218 Fixes: "In MapLayer the NaN values are displayed as red #1216"
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
Labels: bug, Emerson, map-component

#1219 Diamond cells
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
Labels: enhancement, Emerson, map-component

#1211 WellLogSpacer
  react/src/demo/example-data/wellpicks.json
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/__snapshots__/SyncLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/WellLogSpacer.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/utils/log-viewer.ts
Labels: enhancement, Emerson, well-log-viewer

#1224 fix Bug in PPA
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#1227 remove console assert in fitBound file
  react/src/lib/components/DeckGLMap/utils/fit-bounds.js
Labels: bug, Emerson, map-component

#1223 Will fix: "Automatically set initial rotation point to center of axis…
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
Labels: enhancement, Emerson, map-component

#1232 Prevent drawing of data is not fully loaded.
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
Labels: bug, Emerson, map-component

#1230 Will Fix: "DeckGLMap: Home button that sets the viewport to the initi…
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
Labels: enhancement, Emerson, map-component

#1242 Fix: missing update on "cameraPosition" change + termination of web w…
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component

#1243 Should only report bounding box initially in "initializeState"
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component

#1244 Replace 3rd party deck.gl types with native
  .github/workflows/webviz-subsurface-components.yml
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegends.test.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLView.tsx
  react/src/lib/components/DeckGLMap/components/InfoCard.test.tsx
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/StatusIndicator.tsx
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  react/src/lib/components/DeckGLMap/layers/fault_polygons/faultPolygonsLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/selectable_geojson/selectableGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/utils/propertyMapTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/utils/spline.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/utils/configuration.ts
  react/src/lib/components/DeckGLMap/utils/measurement.ts
  react/src/lib/components/DeckGLMap/utils/specExtractor.ts
  react/src/lib/components/DeckGLMap/viewports/intersectionViewport.ts
  react/src/lib/components/DeckGLMap/views/intersectionView.ts
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
  react/src/lib/inputSchema/schemaValidationUtil.tsx
Labels: maintenance, dependencies, Emerson, map-component

#1229 Fill pattern between pick lines
  react/src/demo/example-data/horizon_patterns.json
  react/src/demo/example-data/patterns/Diagonal.png
  react/src/demo/example-data/patterns/Diagonalx2.png
  react/src/demo/example-data/patterns/Diagonalx2_right.png
  react/src/demo/example-data/patterns/Diagonalx4.png
  react/src/demo/example-data/patterns/Diagonalx4_right.png
  react/src/demo/example-data/patterns/Horizontal_lines.png
  react/src/demo/example-data/patterns/Horizontal_linesx2.png
  react/src/demo/example-data/patterns/Horizontal_vertical_lines.png
  react/src/demo/example-data/patterns/Horizontal_vertical_linesx2.png
  react/src/demo/example-data/patterns/Horizontal_vertical_linesx4.png
  react/src/demo/example-data/patterns/Vertical_lines.png
  react/src/demo/example-data/patterns/Vertical_linesx2.png
  react/src/demo/example-data/patterns/anhydrite.png
  react/src/demo/example-data/patterns/brown_coal.png
  react/src/demo/example-data/patterns/calcareous_dolostone.png
  react/src/demo/example-data/patterns/chalk.png
  react/src/demo/example-data/patterns/claystone.png
  react/src/demo/example-data/patterns/conglomerate.png
  react/src/demo/example-data/patterns/dolomitic_limestone.png
  react/src/demo/example-data/patterns/dolostone.png
  react/src/demo/example-data/patterns/fissile_mudstone.png
  react/src/demo/example-data/patterns/fissile_siltstone.png
  react/src/demo/example-data/patterns/gypsum.png
  react/src/demo/example-data/patterns/gypsum_anhydrite_unspecified.png
  react/src/demo/example-data/patterns/halite.png
  react/src/demo/example-data/patterns/limestone.png
  react/src/demo/example-data/patterns/marl.png
  react/src/demo/example-data/patterns/mudstone.png
  react/src/demo/example-data/patterns/salt_general.png
  react/src/demo/example-data/patterns/sandstone.png
  react/src/demo/example-data/patterns/sedimentary_breccia.png
  react/src/demo/example-data/patterns/shale.png
  react/src/demo/example-data/patterns/silicic_plutonic_rocks.png
  react/src/demo/example-data/patterns/siltstone.png
  react/src/demo/example-data/patterns/vulcanic_rock_general.png
  react/src/lib/components/WellLogViewer/Intro.stories.mdx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.test.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer_performance.test.tsx
  react/src/lib/components/WellLogViewer/components/AxisSelector.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/Scroller.tsx
  react/src/lib/components/WellLogViewer/components/TrackDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogSpacer.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.tsx
  react/src/lib/components/WellLogViewer/components/ZoomSlider.tsx
  react/src/lib/components/WellLogViewer/index.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
  react/src/lib/index.js
Labels: enhancement, Emerson, well-log-viewer

#1250 Added feature to scale in z direction with up/down arrow key
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
Labels: enhancement, Emerson, map-component

#1247 Prevent recalculating of initial camera when adding a layer.
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
Labels: bug, Emerson, map-component

#1262 Map layer discrete colors
  react/src/lib/components/DeckGLMap/layers/map/fragment.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/webworker.ts
Labels: bug, Emerson, map-component

#1264 Legend for MapLayer was missing. Implementing "getLegendData()" did …
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component

#1254 Multiple layers
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#1266 Fixes: "Ability to specify piechart size in pixels #1251"
  react/src/demo/example-data/piechart.json
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
Labels: enhancement, Emerson, map-component
