Repository equinor/webviz-subsurface-components, pull requests merged in 2022-08, with the labels that each got.

#1133 Fixed two stories not working
  react/src/lib/components/DeckGLMap/layers/map/fragment.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/privateMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.stories.tsx
Labels: bug, Emerson, map-component

#1143 Fixed map orientation
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component

#1116 Added story to show well in intersection view
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/views/intersectionView.ts
Labels: enhancement, Emerson, intersection

#1146 Fix check on drawing layer for editedData prop
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
Labels: bug, Emerson, map-component

#1144 Black triangles appeared when using ColorMapClampColor false.
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component

#1147 Expose layer prop types
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/index.js
Labels: maintenance, Emerson, map-component

#1151 Multiple
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#1149 Added controls to ColorMapRange story and BreakpointColorMap story,
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
Labels: bug, Emerson, map-component

#1154 Bump @emerson-eps/color-tables: ^0.4.7
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson, map-component

#1153 Hide wellhead for intersection view example
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
Labels: Emerson, intersection

#1145 Camera position
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/__snapshots__/DeckGLMap.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/Map.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/settings/DrawModeSelector_performance.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty_performance.test.tsx
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: enhancement, Emerson

#1165 custom label
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
Labels: enhancement, Emerson, map-component

#1164 fix WellsLayer.onClick to allow generating of onMouseEvent
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#1166 Show unfolded fence in intersection view
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/views/intersectionView.ts
Labels: enhancement, Emerson, intersection

#1158 add a boolean prop for user to switch between black and white theme a…
  react/src/lib/components/DeckGLMap/__snapshots__/DeckGLMap.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/DistanceScale.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/DistanceScale.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/__snapshots__/Map.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/northarrow/northArrow.stories.tsx
Labels: enhancement, maintenance, Emerson

#1174 Fixes this issue: "colorMapClampColor is not working in MapLayer with…
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
Labels: bug, Emerson, map-component
