Repository equinor/webviz-subsurface-components, pull requests merged in 2022-06, with the labels that each got.

#1038 This fixes that wells could be seen trough the map and other weird ef…
  react/package-lock.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#1043 Map rotation point
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#1026 Sync N LogViewers
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/Lis1.json
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
Labels: enhancement, Emerson, well-log-viewer

#1044 Downgrade @emerson-eps/color-tables package.
  react/package-lock.json
  react/package.json
Labels: bug, Emerson, map-component

#993 Map readout
  react/src/lib/components/DeckGLMap/layers/map/map.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#942 Color selector for well layer
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegends.test.tsx
  react/src/lib/components/DeckGLMap/components/ColorLegends.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#1054 Map obscures text description in storybook docs
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: bug, Emerson, map-component

#954 Linked map view and well log view
  react/src/demo/example-data/color-tables.json
  react/src/demo/example-data/welllog_template_2.json
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/index.js
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
  react/src/lib/components/WellLogViewer/__snapshots__/WellLogViewer.test.tsx.snap
  react/src/lib/components/WellLogViewer/components/InfoPanel.tsx
  react/src/lib/components/WellLogViewer/components/InfoTypes.ts
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.tsx
  react/src/lib/components/WellLogViewer/components/ZoomSlider.tsx
  react/src/lib/components/WellLogViewer/components/__snapshots__/InfoPanel.test.tsx.snap
  react/src/lib/components/WellLogViewer/utils/color-table.ts
  react/src/lib/components/WellLogViewer/utils/fill-info.ts
  react/src/lib/components/WellLogViewer/utils/tracks.ts
Labels: enhancement, Emerson, map-component, well-log-viewer

#1055 DeckGLMap - Disable context menu when panning
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#1060 Intersection view unfolded path calculation
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/utils/configuration.ts
  react/src/lib/components/DeckGLMap/views/index.js
  react/src/lib/components/DeckGLMap/views/intersection/intersectionView.js
Labels: enhancement, Emerson, map-component, intersection

#1065 Use same layer to create unfolded view in Intersection view
  react/src/lib/components/DeckGLMap/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/DeckGLMap/layers/intersection/unfoldedGeoJsonLayer.ts
  setup.py
Labels: enhancement, Emerson, intersection

#1082 fixed python unit tests.
  tests/test_py_expression_eval.py
Labels: maintenance, Emerson

#1081 Added map 3d story using default color scale
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
Labels: enhancement, Emerson, map-component

#1089 Added breakpoint color map story
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.stories.tsx
Labels: Emerson, map-component

#1080 Map component affects global style
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/InfoCard.test.tsx.snap
Labels: bug, Emerson, map-component

#1092 Allow overriding tooltip
  react/.storybook/main.js
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: enhancement, Emerson, map-component

#1093 Added React readout hook
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.stories.tsx
  react/src/lib/components/WellLogViewer/MapAndWellLogViewer.tsx
Labels: bug, Emerson, map-component
