Repository equinor/webviz-subsurface-components, pull requests merged in 2022-03, with the labels that each got.

#862 Fix test for using DrawingLayer by find instead by index
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty_performance.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
Labels: bug, Emerson, tests

#861 Well log data file JSON schema
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/SyncLogViewer.tsx
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.tsx
  react/src/lib/components/WellLogViewer/components/LocalMenus.tsx
  react/src/lib/components/WellLogViewer/components/PlotDialog.tsx
  react/src/lib/components/WellLogViewer/components/WellLogTemplateTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogTypes.ts
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.tsx
  react/src/lib/components/WellLogViewer/utils/tracks.ts
  react/src/lib/inputSchema/WellLog.json
Labels: enhancement, Emerson, well-log-viewer

#854 Added axes layer.
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/axes/axes-fragment.glsl.js
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/grid-vertex.glsl.js
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/redux/types.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#871 Fixed GL shader loading.
  react/src/lib/components/DeckGLMap/layers/axes/axes-fragment.glsl
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/grid-vertex.glsl
Labels: bug, Emerson, map-component

#869 Bump Storybook and Webpack dependencies
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson

#874 Added gltf 3D north arrow files
  react/src/lib/assets/glTF/north_arrow/scene.bin
  react/src/lib/assets/glTF/north_arrow/scene.gltf
  react/src/lib/assets/glTF/north_arrow/textures/Arrow5_baseColor.png
  react/src/lib/assets/glTF/north_arrow/textures/Arrow5_metallicRoughness.png
  react/src/lib/assets/glTF/north_arrow/textures/Arrow5_normal.png
Labels: Emerson, map-component

#870 Removed addon-redux dependency from DeckGlMap.
  react/src/lib/components/DeckGLMap/redux/store.ts
Labels: bug, Emerson, map-component

#881 Inline shader files
  react/src/lib/components/DeckGLMap/layers/axes/axes-fragment.glsl.ts
  react/src/lib/components/DeckGLMap/layers/axes/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes/grid-vertex.glsl.ts
  react/src/lib/components/DeckGLMap/layers/colormap/colormap.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2d.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/hillshading2d/hillshading2dLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/PrivateMeshLayer.ts
  react/src/lib/components/DeckGLMap/layers/map/map.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/shader_modules/decoder.fs.glsl.ts
  react/src/lib/components/DeckGLMap/layers/shader_modules/decoder.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl.ts
Labels: bug, Emerson, map-component

#880 Use valueRange as default color range, if omitted.
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: bug, Emerson, map-component

#888 Fix of issue: Set initial camera direction normal to ground in 3D vie…
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: enhancement, map-component

#883 Correct Map3D layer readout alignment
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/redux/types.ts
Labels: bug, Emerson, map-component

#890 feat: Added prop to hide toolbar
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#899 Fixed flickering of the viewport
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#889 Added SelectableGeoJsonLayer which extends functionality of GeoJsonLayer to return selected feature when clicked.
  react/src/lib/components/DeckGLMap/layers/index.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/selectable_geojson/selectableGeoJsonLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#887 WellLogViewer storybook docs
  react/.storybook/main.js
  react/package-lock.json
  react/package.json
  react/src/lib/components/WellLogViewer/Intro.stories.mdx
  react/src/lib/components/WellLogViewer/SyncLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/WellLogViewer.png
  react/src/lib/components/WellLogViewer/WellLogViewer.stories.jsx
  react/src/lib/components/WellLogViewer/components/Scroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/Scroller.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.stories.jsx
  react/src/lib/components/WellLogViewer/components/WellLogViewWithScroller.tsx
  react/src/lib/components/WellLogViewer/components/ZoomSlider.stories.jsx
  react/src/lib/inputSchema/WellLog.json
Labels: enhancement, Emerson, well-log-viewer

#901 Option to set values outside color map range to transparent #576
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#902 Typecheck error in DeckGlMap
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/test/TestWrapper.tsx
  react/src/lib/components/GroupTree/test/TestWrapper.tsx
  react/src/lib/components/WellCompletions/test/TestWrapper.tsx
  react/src/lib/components/WellLogViewer/components/Scroller.tsx
Labels: dependencies, Emerson

#821 Cypress tests
  .github/workflows/webviz-subsurface-components.yml
  react/.storybook/main.js
  react/.storybook/preview.js
  react/cypress.json
  react/cypress/fixtures/example.json
  react/cypress/integration/deckgl_map.ts
  react/cypress/integration/well_completion_tests.ts
  react/cypress/plugins/index.ts
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide color legends.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide faults.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide pie charts.snap.png
  react/cypress/snapshots/well_completion_tests.ts/updated graph.snap.png
  react/cypress/support/commands.ts
  react/cypress/support/index.ts
  react/cypress/support/types/index.d.ts
  react/cypress/tsconfig.json
  react/package-lock.json
  react/package.json
Labels: Emerson

#860 Add `Store` in `VectorCalculator` and functional upgrades
  react/package-lock.json
  react/src/demo/VectorCalculatorDemo.js
  react/src/lib/components/VectorCalculator/VectorCalculator.css
  react/src/lib/components/VectorCalculator/VectorCalculator.jsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/ExpressionEditComponent.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/components/ExpressionDescriptionTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/components/ExpressionInputTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/components/ExpressionNameTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/components/MaxLengthTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/components/VectorSelectorTable.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionEditComponent/index.ts
  react/src/lib/components/VectorCalculator/components/ExpressionInputComponent.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionInputTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsStore/ExpressionsStore.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsStore/index.ts
  react/src/lib/components/VectorCalculator/components/ExpressionsTable.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent/ExpressionsTableComponent.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent/components/BlinkingTableRow.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent/components/EnhancedTableHead.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent/components/ExpressionsTable.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent/index.ts
  react/src/lib/components/VectorCalculator/components/MaxLengthTextField/index.tsx
  react/src/lib/components/VectorCalculator/components/VariablesTable.tsx
  react/src/lib/components/VectorCalculator/components/VectorCalculatorComponent.tsx
  react/src/lib/components/VectorCalculator/utils/ConfirmDialog.tsx
  react/src/lib/components/VectorCalculator/utils/ExpressionParser.ts
  react/src/lib/components/VectorCalculator/utils/VectorCalculatorHelperFunctions.ts
  react/src/lib/components/VectorCalculator/utils/VectorCalculatorTypes.ts
Labels: enhancement, CeeSol, next release 🚢

#909 feat: Automatic zoom to fit data bounds
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide color legends.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide faults.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide pie charts.snap.png
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/utils/fit-bounds.js
Labels: enhancement, Emerson, map-component
