Repository equinor/webviz-subsurface-components, pull requests merged in 2022-01, with the labels that each got.

#719 Use inline loaders for .scss, .glsl and .css files.
  react/src/lib/components/GroupTree/components/GroupTreeViewer.tsx
  react/src/lib/components/LayeredMap/LayeredMap.jsx
  react/src/lib/components/LayeredMap/components/DrawControls.react.js
  react/src/lib/components/LayeredMap/webgl/alter_image.js
  react/src/lib/components/LeafletMap/components/Controls/components/DrawControls.js
  react/src/lib/components/LeafletMap/components/Controls/components/MousePosition.js
  react/src/lib/components/LeafletMap/webgl/commands/drawWithTerrainRGB.js
  react/src/lib/components/Morris/Morris.jsx
  react/src/lib/components/PriorPosteriorDistribution/PriorPosteriorDistribution.jsx
  react/src/lib/components/VectorCalculator/VectorCalculator.jsx
  react/src/lib/components/VectorCalculator/components/ExpressionDescriptionTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionInputComponent.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionInputTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionNameTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTable.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent.tsx
  react/src/lib/components/VectorCalculator/components/VariablesTable.tsx
  react/src/lib/components/VectorCalculator/utils/BlinkingTableRow.tsx
  react/src/lib/components/WellCompletions/components/Settings/ZoneSelector.tsx
  react/src/lib/components/WellLogViewer/components/WellLogView.tsx
  react/webpack.config.js
Labels: bug, Emerson

#722 Exclude storybook and tests from generated package
  react/jest.config.js
  react/package.json
  react/tsconfig.build.json
Labels: bug, dependencies, Emerson

#733 Promoted jsverify to production dependency.
  react/package-lock.json
  react/package.json
Labels: dependencies, Emerson

#735 Add color template and color table as deckgl context
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: maintenance, Emerson, map-component

#738 Removed color table template
  react/package.json
  react/src/demo/example-data/deckgl-map-spec.json
  react/src/demo/example-data/deckgl-map.json
  react/src/demo/example-data/welllayer_template.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/ContinuousLegend.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/DiscreteLegend.tsx
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/WelllayerTemplateTypes.ts
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
  react/src/lib/components/DeckGLMap/utils/continuousLegend.ts
  react/src/lib/components/VectorCalculator/components/ExpressionDescriptionTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionInputTextField.tsx
  react/src/lib/components/VectorCalculator/components/ExpressionsTableComponent.tsx
  react/src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
Labels: Emerson, map-component

#736 Bump react to version 17
  react/package-lock.json
  react/package.json
  react/src/lib/components/WellCompletions/components/Plot/WellCompletionsPlot.tsx
Labels: dependencies, Emerson

#744 Added kh map Storybook example.
  react/.storybook/main.js
  react/src/demo/example-data/deckgl-map.json
  react/src/demo/example-data/volve_hugin_depth_absolute.png
  react/src/demo/example-data/volve_hugin_depth_normalized.png
  react/src/demo/example-data/volve_property_absolute.png
  react/src/demo/example-data/volve_property_normalized.png
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#743 Fixed deckgl map to add and remove layers
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
Labels: maintenance, Emerson, map-component

#745 Fixed click propagation on drawing layer
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayersButton.tsx
  react/src/lib/components/DeckGLMap/redux/reducer.ts
Labels: maintenance, Emerson, map-component

#741 Use color table
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
  react/src/lib/components/DeckGLMap/utils/continuousLegend.ts
Labels: enhancement, Emerson

#746 Import color table repo
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/deckgl-map-spec.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/DeckGLMap.jsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/Map.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
Labels: Emerson, map-component

#747 Fixed data paths and value range for kh map example.
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: bug, Emerson, map-component

#748 Storybook for multiple synced and 3d view
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/redux/store.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#749 Map3 d layer readout
  react/src/lib/components/DeckGLMap/components/InfoCard.tsx
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
  react/src/lib/components/DeckGLMap/redux/types.ts
Labels: enhancement, Emerson, map-component

#751 Importing discrete legend from color table repo
  react/package-lock.json
  react/package.json
  react/src/custom.d.ts
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/DiscreteLegend.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/DiscreteLegend.stories.jsx
  react/src/lib/components/DeckGLMap/utils/discreteLegend.ts
Labels: Emerson, map-component

#755 Importing continuous legend code from colortable repo
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/components/ColorTableTypes.ts
  react/src/lib/components/DeckGLMap/components/ContinuousLegend.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/storybook/components/colorLegends/ContinuousLegend.stories.jsx
  react/src/lib/components/DeckGLMap/utils/continuousLegend.ts
Labels: Emerson, map-component

#759 Disable color legend when wells / log curve is not visible
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/DeckGLWrapper.tsx
  react/src/lib/components/DeckGLMap/components/settings/Settings.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/Settings.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/piechart/pieChartLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#774 Separate storybook stories for grid layer and map3d layer.
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: enhancement, Emerson, map-component

#757 Added property map with transparent border and added a fix in fra…
  react/package-lock.json
  react/src/demo/example-data/deckgl-map.json
  react/src/demo/example-data/property_margin_10pt.png
  react/src/lib/components/DeckGLMap/layers/terrain/terrainmap.fs.glsl
Labels: bug, Emerson, map-component

#779 Fixed wells read out issue in 3d view
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#781 Removed wrong 3d view storybook example
  react/src/demo/example-data/deckgl-map-spec.json
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: maintenance, Emerson, map-component

#780 Fixed wells TVD readout in 2d view
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component
