Repository equinor/webviz-subsurface-components, pull requests merged in 2022-05, with the labels that each got.

#957 DeckGLMap bounds are not updated when supplied with new bounds
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide color legends.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide faults.snap.png
  react/cypress/snapshots/deckgl_map.ts/Map component -- Should hide pie charts.snap.png
  react/src/lib/components/DeckGLMap/__snapshots__/DeckGLMap.test.tsx.snap
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/Map.test.tsx.snap
  react/src/lib/components/DeckGLMap/utils/fit-bounds.js
Labels: bug, Emerson, map-component

#963 Added colormap function property to the colormap layer. If specified …
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/map3DLayer.ts
  react/src/lib/components/DeckGLMap/layers/terrain/terrainMapLayer.ts
  react/src/lib/components/DeckGLMap/layers/utils/layerTools.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: Emerson, map-component

#961 Render wells always facing camera
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, Emerson, map-component

#967 Reverted orbit axis change
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: Emerson, map-component

#938 Option to toggle well trajectories on/off
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: enhancement, Emerson, map-component

#968 Fixed issue: X axis labels overlap with the axis #964
  react/src/lib/components/DeckGLMap/layers/axes/axesLayer.ts
Labels: bug, Emerson, map-component

#973 Measurement tool for map
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/layers/drawing/drawingLayer.tsx
  react/src/lib/components/DeckGLMap/utils/measurement.ts
Labels: enhancement, Emerson, map-component

#978 Color had to be normalized to [0.1] range. Also disabled lighting for…
  react/src/lib/components/DeckGLMap/layers/grid/fragment.glsl.ts
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
Labels: bug, Emerson, map-component

#979 Fix z buffer fighting in orthographic mode.
  react/src/lib/components/DeckGLMap/layers/grid/gridLayer.ts
  react/src/lib/components/DeckGLMap/layers/grid/vertex.glsl.ts
Labels: bug, Emerson, map-component

#982 feat: Per well trajectory line width
  react/src/lib/components/DeckGLMap/components/settings/LayerProperty.tsx
  react/src/lib/components/DeckGLMap/components/settings/LayerSettingsButton.test.tsx
  react/src/lib/components/DeckGLMap/components/settings/NumericInput.tsx
  react/src/lib/components/DeckGLMap/components/settings/SliderInput.tsx
  react/src/lib/components/DeckGLMap/components/settings/__snapshots__/NumericInput.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/layersDefaultProps.ts
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
  react/src/lib/components/DeckGLMap/redux/types.ts
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/components/settings/LayerSettingsButton.stories.jsx
Labels: enhancement, Emerson, map-component

#977 Viewport is reset when picking
  react/src/lib/components/DeckGLMap/DeckGLMap.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#989 Added storybook example for color table selector
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.stories.tsx
Labels: enhancement, Emerson, map-component

#994 Adding legend for color map layer
  react/package-lock.json
  react/package.json
  react/src/demo/example-data/deckgl-map.json
  react/src/lib/components/DeckGLMap/components/ColorLegend.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/__snapshots__/ColorLegend.test.tsx.snap
  react/src/lib/components/DeckGLMap/layers/colormap/colormapLayer.ts
Labels: enhancement, Emerson, map-component

#1010 Loosen engine requirements.
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/LeafletMap/components/Controls/components/Colorbar.js
Labels: dependencies, Emerson

#1020 update onLoad callback on bound and zoom change
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, Emerson, map-component

#1021 Enable control on MapInContainer story and remove redundant file
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMapInContainer.stories.jsx
Labels: invalid, Emerson, map-component
