Repository equinor/webviz-subsurface-components, pull requests merged in 2023-07, with the labels that each got.

#1580 Fixed typing error in BoxSelectionLayer
  typescript/package-lock.json
  typescript/packages/subsurface-viewer/package.json
  typescript/packages/subsurface-viewer/src/layers/BoxSelectionLayer/boxSelectionLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/BoxSelectionLayer/boxSelectionLayer.ts
Labels: maintenance, AspenTech, map-component

#1592 Fix of "NGRM] - 2D rulers/axes should not overlap #1590"
  typescript/packages/subsurface-viewer/src/layers/axes2d/axes2DLayer.ts
Labels: enhancement, AspenTech, map-component

#1557 Well Log Viewer: fixed component updating when several props are changed
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
Labels: bug, AspenTech, well-log-viewer

#1593 The label had dropped out in a story
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.stories.tsx
Labels: bug, AspenTech, map-component

#1596 fix: added missing assets to package build.
  typescript/packages/well-log-viewer/package.json
  typescript/packages/well-log-viewer/src/SyncLogViewer.tsx
Labels: bug, AspenTech, well-log-viewer

#1601 Multivertex faces in Grid3D Layer.
  typescript/packages/subsurface-viewer/src/layers/grid3d/earcut.js
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/test_data/PentagonalToroid.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/test_data/TruncatedSnubCube.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/webworker.ts
Labels: enhancement, AspenTech, map-component

#1599 Removed errenous test and also the warning which is misleading
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: bug, AspenTech, map-component

#1591 tests: re-enable typecheck for stories.
  typescript/package-lock.json
  typescript/packages/group-tree/tsconfig.json
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/BoxSelectionLayer/boxSelectionLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/axes2d/axes2DLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.stories.tsx
  typescript/packages/subsurface-viewer/tsconfig.json
  typescript/packages/well-completions/src/test/storybookReduxAddon.tsx
  typescript/packages/well-completions/tsconfig.json
  typescript/packages/well-log-viewer/tsconfig.json
  typescript/tsconfig.json
Labels: maintenance, AspenTech

#1603 Add callback which will be called after all layers are loaded.
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.stories.tsx
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.tsx
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: enhancement, AspenTech, map-component

#1605 I added a "continuous" sphere with normals in the Lights Story
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.stories.tsx
Labels: enhancement, AspenTech, map-component

#1608 Fix: [NGRM] - Light artefact on maps, disappears after moving
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: bug, AspenTech, map-component

#1610 This is a redo of fix "Hiding/showing axes in Matrix view resets view…
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: bug, AspenTech, map-component

#1612 Fix: "Map property "triggerHome" does not work properly #1611"
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: bug, AspenTech, map-component

#1615 Fix of "[NGRM] - Layer display bug after removing or adding layer to …
  typescript/packages/subsurface-viewer/src/components/Map.tsx
  typescript/packages/subsurface-viewer/src/components/__snapshots__/Map.test.tsx.snap
  typescript/packages/well-log-viewer/src/__snapshots__/MapAndWellLogViewer.test.tsx.snap
Labels: bug, AspenTech, map-component

#1618 Fix import of earcut library code in Grid3D layer.
  typescript/packages/subsurface-viewer/src/layers/grid3d/earcut.js
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/webworker.ts
Labels: bug, AspenTech, map-component

#1619 Allow to work without color_table if meta is given
  typescript/packages/well-log-viewer/src/utils/tracks.ts
Labels: well-log-viewer

#1622 Fix of: [NGRM] - The default initial view should not be a top view #1621
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.stories.tsx
  typescript/packages/subsurface-viewer/src/components/Map.tsx
Labels: enhancement, AspenTech, map-component
