Repository equinor/webviz-subsurface-components, pull requests merged in 2023-04, with the labels that each got.

#1464 Fix: "Property "ZIncreasingDownwards" not working properly for mapLay…
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/triangle/triangleLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/triangle/triangleLayer.ts
Labels: bug, map-component

#1466 Fixes: "Grid3DLayer z values are inverted #1465"
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.ts
Labels: bug, AspenTech, map-component

#1467 Fixes:"[NGRM] Axes 2D - When Axes 2D is active "bounds" should be adj…
  examples/example_hm.py
  react/src/lib/components/SubsurfaceViewer/components/Map.tsx
  react/src/lib/components/SubsurfaceViewer/layers/axes2d/axes2DLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/triangle/triangleLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/triangle/webworker.ts
Labels: enhancement, AspenTech, map-component

#1469 Fixes: "Homogenize use of ZIncreasingDownwards accross layers #1468"
  react/src/lib/components/SubsurfaceViewer/layers/axes/axesLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/intersection/intersectionView.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/northarrow/northArrow.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/terrain/map3DLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/triangle/triangleLayer.stories.tsx
Labels: bug, AspenTech, map-component

#1476 Bump to color-tables v 0.4.50.
  react/package-lock.json
  react/package.json
Labels: dependencies

#1475 [NGRM] - Axes 2D customization: Ability to display axes on all sides of the view port #1345
  react/src/lib/components/SubsurfaceViewer/components/Map.tsx
  react/src/lib/components/SubsurfaceViewer/layers/axes2d/axes2DLayer.stories.tsx
  react/src/lib/components/SubsurfaceViewer/layers/axes2d/axes2DLayer.ts
Labels: enhancement, AspenTech, map-component
