Repository equinor/webviz-subsurface-components, pull requests merged in 2023-01, with the labels that each got.

#1370 Fixed updated black formatting conditions.
  examples/example_prior_posterior.py
  examples/utils/xtgeo_grid_to_vtk_polydata.py
  examples/utils/xtgeo_polygons_to_json.py
  webviz_subsurface_components/VectorDefinitions.py
Labels: maintenance, AspenTech

#1368 Storybook example for color selector with map layer
  react/package-lock.json
  react/package.json
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/layers/map/mapLayer.stories.tsx
  react/src/lib/components/DeckGLMap/storybook/DeckGLMap.stories.jsx
Labels: AspenTech

#1373 Expose View and ViewFooter components
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
  react/src/lib/components/DeckGLMap/components/ViewFooter.test.tsx
  react/src/lib/components/DeckGLMap/components/ViewFooter.tsx
  react/src/lib/index.js
Labels: AspenTech, map-component

#1378 Dash wrapper for SubsurfaceViewer
  react/src/lib/components/DeckGLMap/SubsurfaceViewerDashWrapper.stories.tsx
  react/src/lib/components/DeckGLMap/SubsurfaceViewerDashWrapper.tsx
  react/src/lib/components/DeckGLMap/index.js
  react/src/lib/index.js
Labels: enhancement, AspenTech, map-component

#1381 Fixes: [NGRM] - Need to clean up the black artifacts on the well traj…
  react/src/lib/components/DeckGLMap/layers/wells/wellsLayer.ts
Labels: bug, AspenTech, map-component

#1382 Generate ViewFooter dash wrapper
  react/package.json
  react/src/lib/components/DeckGLMap/components/ViewFooter.tsx
  react/tsconfig.dash.json
Labels: enhancement, AspenTech, map-component

#1377 bug fixing for empty view object
  react/src/lib/components/DeckGLMap/DeckGLMap.stories.tsx
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, AspenTech, map-component

#1385 Bug fix for bounding undefined
  react/src/lib/components/DeckGLMap/components/Map.tsx
Labels: bug, AspenTech, map-component

#1379 Fixes: "Axes2D flickering #1341"
  react/package-lock.json
  react/package.json
  react/src/custom.d.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/axes-fragment.glsl.js
  react/src/lib/components/DeckGLMap/layers/axes2d/axes-fragment.glsl.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/axes-vertex.glsl.js
  react/src/lib/components/DeckGLMap/layers/axes2d/axes2DLayer.stories.tsx
  react/src/lib/components/DeckGLMap/layers/axes2d/axes2DLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/boxLayer.ts
  react/src/lib/components/DeckGLMap/layers/axes2d/font-atlas.png
  react/src/lib/components/DeckGLMap/layers/axes2d/line-fragment.glsl.js
  react/src/lib/components/DeckGLMap/layers/axes2d/line-vertex.glsl.js
Labels: bug, AspenTech, map-component

#1384 Allow creating view annotations using ViewAnnotation component.
  examples/deckgl_annotation.py
  react/src/lib/components/DeckGLMap/SubsurfaceViewerDashWrapper.stories.tsx
  react/src/lib/components/DeckGLMap/SubsurfaceViewerDashWrapper.tsx
  react/src/lib/components/DeckGLMap/components/ViewAnnotation.tsx
  react/src/lib/index.js
  react/tsconfig.dash.json
Labels: enhancement, AspenTech, map-component

#1397 Replace mechanism for default values - mapLayer
  react/src/lib/components/SubsurfaceViewer/layers/layersDefaultProps.ts
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.ts
Labels: enhancement, AspenTech, map-component

#1387 Had to update several test on existence of cameraProperty.
  react/src/lib/components/SubsurfaceViewer/components/Map.tsx
Labels: bug, AspenTech, map-component

#1394 [NGRM] - Webviz map component - Z values should be defined geological…
  react/src/lib/components/SubsurfaceViewer/layers/axes/axesLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/grid3d/grid3dLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/layersDefaultProps.ts
  react/src/lib/components/SubsurfaceViewer/layers/map/mapLayer.ts
  react/src/lib/components/SubsurfaceViewer/layers/wells/utils/spline.ts
  react/src/lib/components/SubsurfaceViewer/layers/wells/wellsLayer.ts
Labels: enhancement, AspenTech, map-component

#1399 Rename "SubsurfaceViewerDashWrapper" to "DashSubsurfaceViewer".
  examples/deckgl_annotation.py
  examples/example_deckgl_3dgrid.py
  examples/example_deckgl_map.py
  examples/example_deckgl_map_and_wells.py
  examples/example_deckgl_selectable_colored_feature.py
  react/src/lib/components/SubsurfaceViewer/DashSubsurfaceViewer.tsx
  react/src/lib/components/SubsurfaceViewer/index.js
  react/src/lib/index.js
Labels: maintenance, AspenTech, map-component
