Repository equinor/webviz-subsurface-components, pull requests merged in 2024-05, with the labels that each got.

#2050 chore: bump videx from 0.9.2 to 0.9.4 in /typescript/packages/well-log-viewer
  typescript/package-lock.json
  typescript/packages/well-log-viewer/package.json
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-synclogviewer--custom-layout.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-synclogviewer--discrete-logs.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--default.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--discrete.png
  typescript/packages/well-log-viewer/src/components/__image_snapshots__/welllogviewer-components-welllogview--default.png
  typescript/packages/well-log-viewer/src/components/__image_snapshots__/welllogviewer-components-welllogview--discrete.png
  typescript/packages/well-log-viewer/src/components/__image_snapshots__/welllogviewer-components-welllogviewwithscroller--default.png
Labels: dependencies, well-log-viewer

#2051 fix: remove duplicated file
  typescript/packages/well-log-viewer/src/components/sidePanel.scss
Labels: well-log-viewer

#2047 feat: WLV callback to reset component to given props (#1993)
  typescript/packages/well-log-viewer/src/SyncLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-synclogviewer--custom-layout.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-synclogviewer--discrete-logs.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--default.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--discrete.png
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--horizontal.png
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
Labels: AspenTech, well-log-viewer
