Repository equinor/webviz-subsurface-components, pull requests merged in 2024-01, with the labels that each got.

#1848 docs: add contribution documentation
  CONTRIBUTING.md
  README.md
Labels: AspenTech

#1842 fix: 'domain' prop handling in WellLogViewer/SyncLogViewer
  python/src/components/WellLogViewer/WellLogViewer.tsx
  typescript/packages/well-log-viewer/src/SyncLogViewer.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.tsx
Labels: bug, AspenTech, well-log-viewer

#1856 test: add discrete log example data and new storybook example for sync log view
  example-data/facies3wells.json
  typescript/package-lock.json
  typescript/packages/subsurface-viewer/src/components/Map.tsx
  typescript/packages/subsurface-viewer/src/layers/axes/boxLayer.ts
  typescript/packages/subsurface-viewer/src/layers/axes2d/axes2DLayer.ts
  typescript/packages/subsurface-viewer/src/layers/colormap/colormapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/privateGrid3dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/test_data/TruncatedSnubCube.ts
  typescript/packages/subsurface-viewer/src/layers/hillshading2d/hillshading2dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/map/privateMapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/map/utils.ts
  typescript/packages/subsurface-viewer/src/layers/northarrow/northArrow3DLayer.ts
  typescript/packages/subsurface-viewer/src/layers/piechart/pieChartLayer.ts
  typescript/packages/subsurface-viewer/src/layers/points/pointsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/polylines/polylinesLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/shader_modules/decoder.ts
  typescript/packages/subsurface-viewer/src/layers/terrain/terrainMapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/triangle/triangleLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/triangle/triangleLayer.ts
  typescript/packages/subsurface-viewer/src/layers/wells/utils/spline.ts
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.ts
  typescript/packages/well-log-viewer/src/SyncLogViewer.stories.tsx
Labels: AspenTech, well-log-viewer, tests

#1841 perf: Reintroduce web worker with transferable objects.
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/map/utils.ts
  typescript/packages/subsurface-viewer/src/layers/map/webworker.ts
Labels: AspenTech, map-component

#1844 feat: color Grid3D by coordinates.
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.tsx
  typescript/packages/subsurface-viewer/src/index.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/fragment.fs.glsl.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/privateGrid3dLayer.ts
  typescript/packages/subsurface-viewer/src/layers/grid3d/vertex.glsl.ts
Labels: enhancement, AspenTech, map-component

#1861 fix: Process initial domain and selection props in WelLogView
  typescript/packages/well-log-viewer/src/WellLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
Labels: bug, AspenTech, well-log-viewer

#1877 fix: InfoPanel drawing in WellLogViewer
  typescript/packages/well-log-viewer/src/SyncLogViewer.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.tsx
  typescript/packages/well-log-viewer/src/__snapshots__/SyncLogViewer.test.tsx.snap
  typescript/packages/well-log-viewer/src/__snapshots__/WellLogViewer.test.tsx.snap
  typescript/packages/well-log-viewer/src/components/InfoPanel.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
  typescript/packages/well-log-viewer/src/components/WellLogViewWithScroller.tsx
  typescript/packages/well-log-viewer/src/components/__snapshots__/InfoPanel.test.tsx.snap
Labels: bug, AspenTech, well-log-viewer

#1880 fix: remove some unused dependencies
  typescript/package-lock.json
  typescript/packages/subsurface-viewer/package.json
  typescript/packages/subsurface-viewer/src/custom.d.ts
Labels: bug, dependencies, AspenTech, map-component

#1881 fix: add missing dependencies
  typescript/package-lock.json
  typescript/packages/subsurface-viewer/package.json
Labels: bug, dependencies, AspenTech, map-component

#1886 fix: [NGRM] - For wells the property "ZIncreasingDownwards" does not honor…
  typescript/packages/subsurface-viewer/src/layers/wells/utils/spline.ts
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.ts
Labels: bug, AspenTech

#1870 fix: Process initial domain and selection props in SyncLogViewer
  example-data/facies3wells.json
  typescript/packages/well-log-viewer/src/SyncLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/SyncLogViewer.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.tsx
  typescript/packages/well-log-viewer/src/components/WellLogSpacer.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
  typescript/packages/well-log-viewer/src/utils/log-viewer.ts
Labels: bug, AspenTech, well-log-viewer

#1890 feat(SubsurfaceViewer): Record-based definition of layers that supports TS Objects implemented.
  typescript/packages/subsurface-viewer/src/SubsurfaceViewer.tsx
  typescript/packages/subsurface-viewer/src/components/Map.tsx
  typescript/packages/subsurface-viewer/src/layers/grid3d/grid3dLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/points/pointsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/points/pointsLayer.ts
  typescript/packages/subsurface-viewer/src/layers/triangle/triangleLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/layers/triangle/triangleLayer.ts
Labels: enhancement, AspenTech, map-component

#1900 fix: mapLayer web worker crashes if no property data provded.
  typescript/packages/subsurface-viewer/src/layers/map/mapLayer.ts
  typescript/packages/subsurface-viewer/src/layers/map/webworker.ts
Labels: bug, map-component
