Repository equinor/webviz-subsurface-components, pull requests merged in 2025-03, with the labels that each got.

#2459 refactor: Clean up of Well log viewer utilities
  typescript/packages/well-log-viewer/src/Storybook/examples/MapAndWellLogViewer.tsx
  typescript/packages/well-log-viewer/src/Storybook/helpers/patternImages.js
  typescript/packages/well-log-viewer/src/SyncLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/SyncLogViewer.test.tsx
  typescript/packages/well-log-viewer/src/SyncLogViewer.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.test.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer.tsx
  typescript/packages/well-log-viewer/src/WellLogViewer_performance.test.tsx
  typescript/packages/well-log-viewer/src/components/ColorMapFunction.ts
  typescript/packages/well-log-viewer/src/components/LocalMenus.tsx
  typescript/packages/well-log-viewer/src/components/PlotDialog.tsx
  typescript/packages/well-log-viewer/src/components/WellLogAxesPanel.tsx
  typescript/packages/well-log-viewer/src/components/WellLogSpacer.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.stories.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.test.tsx
  typescript/packages/well-log-viewer/src/components/WellLogView.tsx
  typescript/packages/well-log-viewer/src/components/WellLogViewWithScroller.stories.tsx
  typescript/packages/well-log-viewer/src/components/WellLogViewWithScroller.test.tsx
  typescript/packages/well-log-viewer/src/components/WellLogViewWithScroller.tsx
  typescript/packages/well-log-viewer/src/utils/arrays.ts
  typescript/packages/well-log-viewer/src/utils/axes.ts
  typescript/packages/well-log-viewer/src/utils/color-function.ts
  typescript/packages/well-log-viewer/src/utils/color-table.ts
  typescript/packages/well-log-viewer/src/utils/fill-info.ts
  typescript/packages/well-log-viewer/src/utils/generateColor.ts
  typescript/packages/well-log-viewer/src/utils/gradientfill-plot-legend.ts
  typescript/packages/well-log-viewer/src/utils/gradientfill-plot.ts
  typescript/packages/well-log-viewer/src/utils/log-viewer.ts
  typescript/packages/well-log-viewer/src/utils/plots.ts
  typescript/packages/well-log-viewer/src/utils/template.ts
  typescript/packages/well-log-viewer/src/utils/trackFactory.ts
  typescript/packages/well-log-viewer/src/utils/tracks.ts
  typescript/packages/well-log-viewer/src/utils/well-log.test.ts
  typescript/packages/well-log-viewer/src/utils/well-log.ts
Labels: maintenance, CeeSol, well-log-viewer

#2463 fix: "74736: PPA: well trajectory artifacts"
  typescript/packages/subsurface-viewer/src/layers/utils/simplify.test.ts
  typescript/packages/subsurface-viewer/src/layers/utils/simplify.ts
  typescript/packages/subsurface-viewer/src/layers/wells/utils/spline.ts
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.ts
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples--default.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples--map-in-container.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--display-camera-state.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--synced-multi-view.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--synced-subsurface-viewers.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-rendering--depth-test.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-rendering--is-rendered-callback.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-tooltip--mouse-event.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-tooltip--tooltip-api.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-tooltip--tooltip-style.png
  typescript/packages/subsurface-viewer/src/storybook/layers/WellsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-box-selection-layer--box-selection-with-callback.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-box-selection-layer--box-selection.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-experimental-intersection-view--with-wells-data.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--all-trajectory-hidden.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--all-well-heads-hidden.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--callback-styled-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--coarse-well-factor.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--continuous-color-table.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--continuous-well-logs.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--custom-colored-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--custom-width-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--dashed-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--discrete-well-logs.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--legend-with-color-selector.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--multiple-volve-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--reduced-well-name-clutter-2-d.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--reduced-well-name-clutter-3-d.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--simplified-rendering.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--unfolded-projection.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--volve-wells-with-reset-button.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--volve-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--wells-3-d-dashed.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--wells-3-d.png
  typescript/packages/subsurface-viewer/src/storybook/sharedSettings.tsx
Labels: bug, AspenTech, map-component

#2476 fix: [NGRM]: Grid3DLayer reports wrong x,y,z and dept values in readout for undefined property values. #2474
  typescript/packages/subsurface-viewer/src/layers/grid3d/cellProperty.fs.glsl.ts
Labels: bug, AspenTech

#2481 fix: replace tick generating algorithm with d3 version
  typescript/packages/subsurface-viewer/src/layers/axes/axesLayer.ts
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--add-layer.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--auto-zoom-to-box-story.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--rotate-camera-story.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-rendering--lights-story.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-map-layer--big-map.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-map-layer--map-layer-2-d-dark-mode.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-map-layer--rotated.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-north-arrow-layer--north-arrow-2-d-dark-mode.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-polylines-layer--small-polylines-layer.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--simplified-rendering.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--vertical-well-with-duplicates.png
Labels: bug, AspenTech, map-component

#2488 feat: Add tooltip optional prop to track template
  example-data/facies3wells.json
  example-data/two_logs_example.json
  typescript/package-lock.json
  typescript/packages/well-log-viewer/package.json
  typescript/packages/well-log-viewer/src/WellLogViewer.stories.tsx
  typescript/packages/well-log-viewer/src/__image_snapshots__/welllogviewer-demo-welllogviewer--track-title-tooltip.png
  typescript/packages/well-log-viewer/src/components/WellLogTemplateTypes.ts
  typescript/packages/well-log-viewer/src/utils/tracks.ts
Labels: enhancement, AspenTech, well-log-viewer

#2487 feat: enhanced well label styling
  typescript/packages/subsurface-viewer/src/components/Map.tsx
  typescript/packages/subsurface-viewer/src/extensions/collision-modifier-extension.ts
  typescript/packages/subsurface-viewer/src/layers/types.ts
  typescript/packages/subsurface-viewer/src/layers/wells/layers/wellLabelLayer.ts
  typescript/packages/subsurface-viewer/src/layers/wells/utils/spline.ts
  typescript/packages/subsurface-viewer/src/layers/wells/utils/trajectory.ts
  typescript/packages/subsurface-viewer/src/layers/wells/wellsLayer.ts
  typescript/packages/subsurface-viewer/src/storybook/constant/argTypes.ts
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples--default.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples--map-in-container.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--display-camera-state.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--synced-multi-view.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-camera--synced-subsurface-viewers.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-mutiview--multi-view-picking.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-rendering--depth-test.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-tooltip--tooltip-api.png
  typescript/packages/subsurface-viewer/src/storybook/examples/__image_snapshots__/subsurfaceviewer-examples-tooltip--tooltip-style.png
  typescript/packages/subsurface-viewer/src/storybook/layers/AxesLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/storybook/layers/WellLabelLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/storybook/layers/WellsLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-box-selection-layer--box-selection-with-callback.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-box-selection-layer--box-selection.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--default.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--label-auto-position.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--label-position.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--label-style.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--tangent-orientation.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--all-well-heads-hidden.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--callback-styled-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--coarse-well-factor.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--continuous-color-table.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--continuous-well-logs.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--custom-width-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--dashed-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--discrete-well-logs.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--legend-with-color-selector.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--multiple-volve-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--reduced-well-name-clutter-2-d.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--reduced-well-name-clutter-3-d.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--volve-wells-with-reset-button.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--volve-wells.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--well-label-style.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-wells-layer--wells-3-d.png
  typescript/packages/subsurface-viewer/src/storybook/util/color.ts
Labels: enhancement, AspenTech, map-component

#2494 fix: animate label position transitions
  typescript/packages/subsurface-viewer/src/layers/wells/layers/wellLabelLayer.ts
  typescript/packages/subsurface-viewer/src/storybook/layers/WellLabelLayer.stories.tsx
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--label-auto-position.png
  typescript/packages/subsurface-viewer/src/storybook/layers/__image_snapshots__/subsurfaceviewer-well-label-layer--tangent-orientation.png
Labels: enhancement, AspenTech, map-component
